@import '../style/var';

.flyv-progress {
    width: 100%;
}
.flyv-progress__inner{
    position: relative;
    height: 2px;
    background: $dynamic-resource-background;
        .flyv-progress__bar {
            position: absolute;
            height: 100%;
            background: $red;
        }
        .flyv-progress__btn-wrapper {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -4px;
            width: 8px;
            height: 8px;
        }
        .flyv-progress__btn {
            box-sizing: border-box;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $red;
        }
}