@import './variable.scss';

.flyv-doc-nav {
    box-sizing: border-box;
    width: 220px;
    height: 100%;
    padding: 20px 0;
    border-right: 1px solid $flyv-doc-border-color;
    overflow-y: scroll;
    
    .flyv-doc-nav__item {
        a {
            display: block;
            text-align: left;
            padding: 10px 20px 10px 40px;
            font-size: 14px;
            line-height: 22px;
        }

        .flyv-doc-nav__title {
            font-size: 17px;
            font-weight: 700;
        }
        .flyv-doc-nav-link {
            cursor:pointer;
        }
        .flyv-doc-nav-link:hover {
            color: $flyv-doc-blue-color;
        }

        .flyv-doc-nav-link_active {
            color: $flyv-doc-blue-color;
        }
    }
}