@import './variable.scss';

.flyv-doc-simulator {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1;
    width: 360px;
    height: 640px;
    overflow: hidden;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px $flyv-doc-simulator-shadow;
}
